div {
    color: black;
    font-size: 18px;
}

.landing {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
.heading {
    border: 3px solid rgb(26, 1, 138);
    background-color:rgb(100, 100, 179);
    color: white;
    display: flex;
    position: relative;
    top: 0;
    justify-content: center;
    border-radius: 1rem;
    z-index: 99;
}

.main {
    margin-left: 20%;
    padding: 10px;
}

.sidebar {
    border: 3px solid rgb(26, 1, 138);
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height:100%;
    background-color: rgb(100, 100, 179);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.card {
    border: 3px solid rgb(26, 1, 138);
    border-radius: 1rem;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 2px 4px black;
    background-color: pink;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: transform 0.5s ease;
    text-align: start;
    color: inherit;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-style: italic;
}

.card object {
    height: 1100px;
    width: auto;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav a {

    display: inline-block;
    text-decoration: none;
    padding: 14px 16px;
    font-weight: bold;
    color: #f2f2f2;
    font-size: 20px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav .active {
    border: 3px solid white;
}

.profile{
    width: 300px; 
    height: auto;
    margin: 10px; 
    border: 3px solid rgb(26, 1, 138);
    border-radius: 1rem;
}

.bio {
    line-height: 30px;
}
  
.iso {
    width: 300px;
    height: auto;
    margin: 10px;
}

.links{
    list-style-type: circle;
}

.links a {
    text-decoration: none;
    font-size: 20px;
}

#theme-toggle {
    background-color:rgb(100, 100, 179);
    font-size: 18px;
    color: white;
    border: 3px solid rgb(26, 1, 138);
    border-radius: 1rem;
    margin-top: 20px;
}